apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Root kustomization for all infrastructure components
# This file orchestrates the deployment of all tools to AKS using GitOps

metadata:
  name: infrastructure-root
  namespace: flux-system

resources:

  # - helm-oci-repository.yaml
  - namespace.yaml
  - helm-elastic-repository.yaml
  - helm-bitnami-repository.yaml

  # Phase 1: Service Mesh - Deploy first as it provides observability infrastructure
  # Istio must be deployed before other services for proper mesh injection
  #- istio/
  - ingress/

  - logging/elasticsearch/
  - logging/kibana/        
  - tracing/zipkin/       
  - tracing/jaeger/       
  - monitoring/prometheus/
  - monitoring/grafana/       
  - messaging/rabbitmq/
  - redis/
  # - postgresql/
  # - sqlserver/



commonLabels:
  app.kubernetes.io/managed-by: fluxcd
  app.kubernetes.io/part-of: flux-system

commonAnnotations:
  fluxcd.io/managed: "true"