apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base/helmrelease.yaml

configMapGenerator:
  - name: basketapi-dev-config
    files:
      - values.yaml=values-dev.yaml
generatorOptions:
  disableNameSuffixHash: true

patchesStrategicMerge:
  - |-
    apiVersion: helm.toolkit.fluxcd.io/v2beta1
    kind: HelmRelease
    metadata:
      name: basketapi-dev
    spec:
      releaseName: basketapi-dev
      valuesFrom:
        - kind: ConfigMap
          name: basketapi-dev-config
