apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: flux-apps
namePrefix: basketapi-dev-
resources:
  - ../../base
configMapGenerator:
  - name: app-placeholder-config
    files:
      - values.yaml=values-dev.yaml
generatorOptions:
  disableNameSuffixHash: true
patches:
  - target:
      kind: HelmRelease
      name: app-placeholder
    patch: |-
      - op: replace
        path: /spec/valuesFrom/0/name
        value: basketapi-dev-app-placeholder-config