apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: grafana
  namespace: flux-system
spec:
  releaseName: grafana
  interval: 10m
  chart:
    spec:
      chart: grafana
      version: "7.3.12"
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  timeout: 10m
  values:
    adminPassword: "changeme"
    persistence:
      enabled: false
    datasources:
      datasources.yaml:
        apiVersion: 1
        datasources:
          - name: Prometheus
            type: prometheus
            url: http://prometheus-kube-prometheus-prometheus.flux-system.svc.cluster.local:9090
            access: proxy
            isDefault: true
          - name: Jaeger
            type: jaeger
            url: http://jaeger-agent.flux-system.svc.cluster.local:6831
            access: proxy
          - name: Zipkin
            type: zipkin
            url: http://zipkin.flux-system.svc.cluster.local:9411
            access: proxy
    service:
      type: ClusterIP
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
