apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: flux-apps

resources:
  - helmrelease.yaml

configMapGenerator:
  - name: app-base-values
    files:
      - values.yaml

generatorOptions:
  disableNameSuffixHash: true
