apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: istio-ingressgateway
  namespace: flux-system
  labels:
    app.kubernetes.io/managed-by: flux
    app.kubernetes.io/component: ingressgateway
spec:
  interval: 30m
  timeout: 10m
  releaseName: istio-ingressgateway
  chart:
    spec:
      chart: gateway
      version: "1.23.x"
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
      interval: 12h
  targetNamespace: istio-system
  dependsOn:
    - name: istiod
      namespace: flux-system
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    service:
      type: LoadBalancer
    autoscaling:
      enabled: false
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi
